<div class>
    <div class="flex justify-center">
        <div class="px-20 todo-block">
            <h4 class ="text-center todo-header "> Todo List</h4>
            <div class="">
                <input class="todo-input rounded-sm border py-1 px-2" placeholder="Enter text..." type="text" name="text">
                <button type="submit" class="bg-gray-400 py-1 px-3 rounded-md shadow-md text-white">Add</button>
            </div>

            <div class="todo-list">
                <h5>Todo List</h5>
                <div class="flex todo-single">
                    <input type="checkbox" class="">
                    <p class=""> My first to-do item on angular</p>
                    <button type="button" class="bg-red-200 text-white py-1 px-3 rounded-md hover:bg-red-400" >
                        delete
                    </button>
                </div>
            </div>

            <div class="todo-list">
                <h5>Finished List</h5>
                <div class="flex todo-single">
                    <input type="checkbox" class="">
                    <p class=""> My first to-do item on angular</p>
                    <button type="button" class="bg-red-200 text-white py-1 px-3 rounded-md hover:bg-red-400" >
                        delete
                    </button>

                </div>
            </div>

        </div>
    </div>
</div>