<div class>
    <div class="flex justify-center">
        <div class="px-20 todo-block">
            <h4 class ="text-center todo-header "> Todo List</h4>
            <form 
                (ngSubmit)="onSubmit(taskForm)" 
                #taskForm="ngForm">

                <label for="task">Task</label>
                <input 
                    class="todo-input rounded-sm border py-1 px-2" 
                    placeholder="Enter text..." 
                    type="text" 
                    name="task"
                    ngModel
                    required>
                <span class="text-sm, text-red-500">*Required Field</span>
                <button 
                    [disabled]="taskForm.invalid"
                    type="submit" 
                    id="submitButton"
                    class="bg-gray-400 py-1 px-3 rounded-md shadow-md text-white">Add</button>
            </form>

            
            <hr>
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of taskArray; index as i">
                        <td>{{t.taskName}}</td>
                        <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox"></td>
                        <td><button class="" (click)="onDelete(i)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>