<div>
    <div 
        class="flex flex-col rounded-lg shadow-md my-2 mx-3 p-3 justify-center w-[400px] ">
            <div
                class="text-[#529632] text-xl self-center font-bold"> Enter your Details</div>
        <form
            class="flex flex-col items-center w-full  mx-auto"
            (ngSubmit)="onSubmit(loginForm)"
            #loginForm="ngForm">
            <div
                class="my-2 w-full">
                <div class="self-start text-sm">
                    <label for="email-address">Email address</label>
                </div>
                <div>
                    <input
                        class="p-2 rounded-sm  border-neutral-300 border-2 w-full"
                        name="email-address"
                        type="email"
                        placeholder="my-email@lcc.com"
                        ngModel
                        required
                        >
                </div>
            </div>
            <div
                class="my-2  w-full">
                <div class="self-start text-sm ">
                    <label for="password">password</label>
                </div>
                <div>
                    <input
                        class="p-2 rounded-sm  border-neutral-300 border-2 w-full"
                        name="password"
                        type="password"
                        placeholder="Enter password"
                        ngModel
                        required
                        >
                </div>
            </div>
            <div
                class="my-2  w-full">
                <div class="self-start text-sm">
                    <label for="confirm-password">confirm password</label>
                </div>
                <div>
                    <input
                        class="p-2 rounded-sm  border-neutral-300 border-2 w-full"
                        name="confirm-password"
                        type="password"
                        placeholder="Re-enter password"
                        ngModel
                        required
                        >
                </div>
            </div>
            <div
                class="my-2  w-full">
                <div class="self-start text-sm">
                    <label>Captcha</label>
                </div>
                <div class="border-2 h-[50px]">

                </div>
            </div>
            <button 
                class="w-[30%] bg-[#9fcf88]  p-3 rounded-md text-white font-bold hover:bg-[#529632] shadow-xl">Submit</button>
        </form>
    </div>
</div>

